@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    --bgColor:#121212;
    --sectionRadius:12px;
    --fontColor:white;
    --iconSize:24px;
    color: var(--fontColor);
}

body{
    background-color: black;
}

.displayFlex{
    display: flex;
}
.container{
    height: 100vh;
    gap: 10px;
    margin: 5px;
}

.left{
    width: 20vw;
    height: 100%;
}


.upperSection{
    background-color: var(--bgColor);
    padding: 20px 20px 0px 20px;
    border-radius: var(--sectionRadius);
}

.home{
    padding:10px 0px;
}
.home ul li{
    padding:10px 0px;
    cursor: pointer;
}
.home ul li{
    list-style: none;
    font-weight: bold;
    gap: 20px;
    align-items: center;
}
.home ul li img{
    width: var(--iconSize);
}
.invertImg{
    filter: invert(1);
}

.lowerSection{
    background-color: #121212;
    margin:10px 0px;
    border-radius: var(--sectionRadius);
    min-height: 70vh;
    padding: 16px 16px;
    position: relative;
}

.library ul li{
    list-style: none;
    gap: 20px;
    align-items: center;
    font-weight: bold;
}
.library ul li img{
    width: var(--iconSize);

}

.footer{
    gap: 15px;
   flex-wrap: wrap;
   font-size: 11px;
   position: absolute;
   bottom: 0;
   padding: 100px 12px;
   line-height: normal;
}

.footer div a{
    color: var(--fontColor);
    text-decoration: none;
 }

 .languageBtn{
    position: absolute;
    bottom: 0;
    padding: 32px 12px;
 }
 .languageBtn button{
    background-color: #121212;
    cursor: pointer;
    gap: 4px;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px solid white;
    align-items: center;
    border-radius: 24px;
    
 }

 .languageBtn img{
    width: 16px;
 }

 .right{
    width: 80vw;
    height: 97%;
    background-color: #121212;
    border-radius: var(--sectionRadius);
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0px 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.backForwardBtn{
    display: flex;
    gap: 8px;
    
}

.backForwardBtn button{
    background-color: rgba(0, 0, 0, .7);
    border: none;
     border-radius: 50%;
     color: #fff;
     display: inline-flex;
     height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.signUpIn{
    padding: 0px 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.signUp{
    background-color:  transparent;
    color:rgb(179, 179, 179);
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.signUp:hover{
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.logIn{
background-color: white;
border: none;
border-radius: 24px;
color: black;
padding: 14px 28px;
font-weight: bold;
font-size: 16px;
transition: all .1s ease;
}
.logIn:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: #ffffffee;
}

.playlist{
    height: 75%;
    overflow-y: auto;
}

.playlist::-webkit-scrollbar{
    background-color:rgba(29, 28, 28, 0.989);
}

.title{
    font-size: 24px;
    font-weight: bold;
    padding: 16px 24px;
}


.songs{
    padding: 12px;
    flex-wrap: wrap;
    gap: 10px;
    
}


.card{
    padding: 10px 16px 16px 16px;
    border-radius: 8px;
    width: 180px;
   

}

.songList  li{
    cursor: pointer;
}
.card2:hover{
    background-color: rgba(29, 28, 28, 0.989);
    cursor: pointer;
}

.bg{
    flex-direction: column;
     gap: 8px;
     flex-wrap: wrap;
     position: relative;
 }

.bg img{
    border-radius: 8px;
    width: 180px;
    object-fit: contain;
}

.plybtn {
    background-color:  #3be477;
    border: none;
    padding:5px ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 50px;
    opacity: 0;
    transition: all .3s ease;
}

.plybtn2{
    cursor: pointer;
    opacity: 1;
    bottom: 60px;
   
}


.plybtn img{
    width: 24px;
    height: 24px;
}



.bg h2{
    font-size: 16px;
}
.bg p{
    font-size: 14px;
}

.playBarContainer{
    width: 97.75%;
    height: 75px;
    background-color: black;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    border: 2px solid var(--bgColor);
    border-bottom-right-radius:var(--sectionRadius) ;
    border-bottom-left-radius:var(--sectionRadius) ;
    z-index: 0;
}

.playBar{
    width:100% ;
    height: 12px;
   border-radius: 8px;
    background-color: #121212;
    position: relative;
    cursor: pointer;
}

.circle{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: -1.5px;
    cursor: pointer;
}

.timeStamp{
    padding-top: 4px;
    justify-content: space-between;
    font-size: 10px;

    
}

.playButtons{
    text-align: center;
}

.playButtons > *{
   background-color: transparent;
   color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
   
}

.playBarInfo{
   justify-content: space-between;
   flex-wrap: wrap;
}

.songTitle {
    width: 200px;
    display: flex;
    align-items: center;
    contain: content;
    word-break: break-all;
    font-size: 10px;
}

.volume{
    width: 200px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: end;
    
}
.volume img{
    cursor: pointer;
}

.displayVBar{
    transition: all .2s ease;
    display: none;
}

.albumSongs{
    margin-top: 30px;
    height: 39vh;
    overflow-y: auto;
}

.albumSongs::-webkit-scrollbar{
    background-color: #121212;
    
}

.albumSongs ul{
    list-style: none;

}
.albumSongs ul li{
    padding: 12px;
}

.songCard{
    padding: 12px;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0px 0px 1px rgb(177, 173, 173);
}
.songCard:hover{
    transition: all 0.1s ease-in;
    box-shadow: 0px 0px 6px rgb(177, 173, 173);
}

.plyStop button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 1395px) {
    .left{
        position: absolute;
        left: -100%;
    }

    .right{
        width: 100vw;
        margin: 0;
    }
    .playBarContainer{
        width: 97.75vw;
        height: 75px;
        background-color: black;
        padding: 8px 12px;
        position: absolute;
        bottom: 0;
        border: 2px solid var(--bgColor);
        border-bottom-right-radius:var(--sectionRadius) ;
        border-bottom-left-radius:var(--sectionRadius) ;
        z-index: 0;
    }

    *{
        margin: 0;
    padding: 0;
    }
    
}