body{
    border: 2px solid black;
    min-height: 800px;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* 
display:flex;
   justify content ----> main axis
   align items     ----> cross axis (each row)
   align contents  ----> (complete page)
   flex- wrap      ---> responsive line breaks
   gap         -----> gap b/w boxes
   flex-shrink  ------> Allow getting smaller
   flex-grow    ------> Allow getting larger
   min-width & max-width --> Limit grow nad shrink

   */